<h1>Coupon Form</h1>
<%= form_for @coupon do |f| %>

    <p>
        <%= f.label :coupon_code %>
        <%= f.text_field :coupon_code %>
    </p>
    <p>
        <%= f.label :store %>
        <%= f.text_field :store %>
    </p>
    <p>
        <%= f.submit "Submit Coupon" %>
    </p>

<% end %>